
.boutonHP{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 80%;
}

@media screen and (min-width:768px) {

    .logo{
      width: 25%;
    }
    
    .boutonHP{ 
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        width: 50%;
    }  

}
